<p>
  listado works! listado: {{listado}}
</p>

<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<p-dataTable [value]="cars" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>

</p-dataTable>

<br><br><br>

<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<h3 class="first">Basic</h3>
<p-dataTable [value]="cars" [loading]="loading" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt1>
    <p-header>List of Cars</p-header>
    <p-column field="vin" header="Vin"></p-column>
    <p-column field="year" header="Year"></p-column>
    <p-column field="brand" header="Brand"></p-column>
    <p-column field="color" header="Color"></p-column>
</p-dataTable>

<br><br><br>

<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<h3>Dynamic Columns</h3>
<p-dataTable [value]="cars" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt2>
    <p-header>List of Cars</p-header>
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
</p-dataTable>