<div class="ui-g-12 ui-md-1 ui-lg-1">
</div>

<div *ngIf="datosTabla==null">
  <h3>Cargando...</h3>
  <p-progressSpinner> </p-progressSpinner>
</div>

<div class="ui-g-12 ui-md-10 ui-lg-10" *ngIf="datosTabla!=null">

  <h3 class="first"> Lista de Viajes Por Choferes</h3>

  <p-table #dt [columns]="cols" [value]="datosTabla" selectionMode="single" [(selection)]="viajeSeleccionado" [paginator]="true"
    [rows]="10" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">

    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Exportar" (click)="dt.exportCSV()" style="float:left"></button>
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Buscador" (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>

      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <p-dropdown *ngSwitchCase="'estado'" [options]="estadoViaje" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
        </th>
      </tr>

    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]|estado}}
        </td>
      </tr>
    </ng-template>


    <ng-template pTemplate="summary">
      <p *ngIf="viajeSeleccionado">Costo: {{costo}} - Distancia: {{distancia}} </p>
    </ng-template>

  </p-table>

</div>
<div class="ui-g-12 ui-md-1 ui-lg-1"></div>