<div>

  <div *ngIf="datosTabla==null">
    <p-progressSpinner> </p-progressSpinner>
    <h3>Cargando...</h3>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-6" *ngIf="datosTabla!=null">

    <h3 class="first">Resumen de Clientes</h3>
    <p-table #dt [columns]="cols" [value]="datosTabla" selectionMode="single" [(selection)]="clienteSeleccionado" [paginator]="true"
      [rows]="10" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">

      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Exportar" (click)="dt.exportCSV()" style="float:left"></button>
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Buscador" (input)="dt.filterGlobal($event.target.value, 'contains')"
            style="width:auto">
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <input *ngSwitchCase="'id_cliente'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]|estado}}
          </td>
        </tr>
      </ng-template>


      <ng-template pTemplate="summary">
        <p *ngIf="clienteSeleccionado">
          <p-button (onClick)="graficar()" icon="pi pi-check" label="Mostrar grafico de {{clienteSeleccionado.nombre}} {{clienteSeleccionado.apellido}}"></p-button>
        </p>
      </ng-template>
    </p-table>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-6">
    <p-chart type="pie" [data]="datosGrafico1"></p-chart>
  </div>
</div>