<p>
  registro works!
</p>

<div class="ui-g-12 ui-md-3 ui-lg-3"></div>
<div class="ui-g-12 ui-md-6 ui-lg-6">

  <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-panel header="Ingreso de nuevo Cliente">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Nombre *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="nombre" placeholder="Ingrese nombre" />
          </div>
          <div class="ui-grid-col-4">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['nombre'].valid&&userform.controls['nombre'].dirty">
              <i class="fa fa-close"></i>
              Campo Obligatorio
            </div>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Apellido *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="apellido" placeholder="Ingrese apellido" />
          </div>
          <div class="ui-grid-col-4">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['apellido'].valid&&userform.controls['apellido'].dirty">
              <i class="fa fa-close"></i>
              Campo Obligatorio
            </div>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Mail *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="mail" placeholder="Ingrese mail" />
          </div>
          <div class="ui-grid-col-4">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['mail'].valid&&userform.controls['mail'].dirty">
              <i class="fa fa-close"></i>
              Campo Obligatorio
            </div>
          </div>
        </div>


        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            DNI *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="number" formControlName="dni" placeholder="Ingrese DNI" />
          </div>
          <div class="ui-grid-col-4">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['dni'].valid&&userform.controls['dni'].dirty">
              <i class="fa fa-close"></i>
              Campo Obligatorio
            </div>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Telefono *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="number" formControlName="telefono" placeholder="Ingrese telefono" />
          </div>
          <div class="ui-grid-col-4">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['telefono'].valid&&userform.controls['telefono'].dirty">
              <i class="fa fa-close"></i>
              Campo Obligatorio
            </div>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Domicilio *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="domicilio" placeholder="Ingrese domicilio" />
          </div>
          <div class="ui-grid-col-4">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['domicilio'].valid&&userform.controls['domicilio'].dirty">
              <i class="fa fa-close"></i>
              Campo Obligatorio
            </div>
          </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Password *:
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="password" formControlName="password" placeholder="Ingrese password" />
            </div>
            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty">
                <i class="fa fa-close"></i>
                Campo Obligatorio
              </div>
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Password *:
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="password" formControlName="password2" placeholder="Reingrese password" />
            </div>
            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['password2'].valid&&userform.controls['password2'].dirty">
                <i class="fa fa-close"></i>
                Campo Obligatorio
              </div>
            </div>
          </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2"></div>
          <div class="ui-grid-col-6">
            <button pButton type="submit" label="Agregar" [disabled]="!userform.valid"></button>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>

      </div>
    </p-panel>
  </form>

</div>
<div class="ui-g-12 ui-md-3 ui-lg-3"></div>