<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-bar w3-blue">
  <a routerLink="" class="w3-bar-item w3-button w3-mobile">Home</a>
  <a routerLink="chofer" class="w3-bar-item w3-button w3-mobile">Chofer</a>
  <a routerLink="cliente" class="w3-bar-item w3-button w3-mobile">Cliente</a>
  <a routerLink="encargado" class="w3-bar-item w3-button w3-mobile">Encargado</a>
  <a routerLink="mapa" class="w3-bar-item w3-button w3-mobile">Mapa</a>
  <a routerLink="graficos" class="w3-bar-item w3-button w3-mobile">Graficos</a>
</div>

<router-outlet></router-outlet>