<div class="ui-g fondo">
  <div class="ui-g-12 ui-md-2 ui-lg-2">
  </div>
  <div class="ui-g-12 ui-md-8 ui-lg-8">

    <div *ngIf="datosTabla==null">
      <p-progressSpinner> </p-progressSpinner>
      <h3>Cargando...</h3>
    </div>

    <div class="arriba">
      <h3 class="first">Viajes Pendientes</h3>
      <p-table [value]="datosTabla" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>Inicio</th>
            <th>Destino</th>
            <th>Distancia</th>
            <th>Costo</th>
            <th>Confirmar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
          <tr *ngIf="car.estado==0||car.estado==-1">
            <td>{{car.inicio}}</td>
            <td>{{car.destino}}</td>
            <td>{{car.distancia|distancia}}</td>
            <td>{{car.costo|currency}}</td>
            <td>
              <button pButton type="button" (click)="cancelar(car.id_viaje)" class="ui-button-danger" label="Cancelar Viaje"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <br>
      <br>
    </div>
    <!--//////////////////////////-->
    <div class="izquierda">
      <h3 class="first">Viajes Realizados</h3>
      <p-table [value]="datosTabla" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>Inicio</th>
            <th>Destino</th>
            <th>Distancia</th>
            <th>Costo</th>
            <th>Encuesta</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
          <tr *ngIf="car.estado==-3">
            <td>{{car.inicio}}</td>
            <td>{{car.destino}}</td>
            <td>{{car.distancia|distancia}}</td>
            <td>{{car.costo|currency}}</td>
            <td>
              <button pButton type="button" (click)="enviar(car)" icon="pi pi-check" iconPos="right" label="Encuesta"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <br>
      <br>
    </div>
    <!--//////////////////////////-->
    <div class="abajo">
      <h3 class="first">Viajes Cancelados</h3>
      <p-table [value]="datosTabla" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>Inicio</th>
            <th>Destino</th>
            <th>Distancia</th>
            <th>Costo</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
          <tr *ngIf="car.estado==-5">
            <td>{{car.inicio}}</td>
            <td>{{car.destino}}</td>
            <td>{{car.distancia|distancia}}</td>
            <td>{{car.costo|currency}}</td>
          </tr>
        </ng-template>
      </p-table>
      <br>
      <br>
    </div>
  </div>
  <div class="ui-g-12 ui-md-2 ui-lg-2"></div>
</div>