<p>
  agregar works! {{titulo}}
</p>

<div *ngIf="listado!=4">

  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="miObjeto.mail">
    <label for="float-input">Mail</label>
  </span>
  <br>

  <!-- <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="miObjeto.password">
    <label for="float-input">Password</label>
  </span>
  <br>
-->
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="miObjeto.nombre">
    <label for="float-input">Nombre</label>
  </span>
  <br>

  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="miObjeto.apellido">
    <label for="float-input">Apellido</label>
  </span>
  <br>

  <div class="ui-float-label">
    <p-inputMask [(ngModel)]="miObjeto.dni" id="float-input" mask="99.999.999"></p-inputMask>
    <label for="float-input">DNI</label>
  </div>
  <br>

  <div class="ui-float-label">
    <p-inputMask [(ngModel)]="miObjeto.telefono" id="float-input" mask="99-9999-9999"></p-inputMask>
    <label for="float-input">Telefono</label>
  </div>
  <br>

  <span class="ui-float-label" *ngIf="listado==1">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="miObjeto.domicilio">
    <label for="float-input">Domicilio</label>
  </span>

  <span class="ui-float-label" *ngIf="listado==2||listado==3">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="miObjeto.legajo">
    <label for="float-input">Legajo</label>
  </span>

  <br>
  <br>

  <button pButton type="button" (click)="Agregar()" class="ui-button-success" icon="fa-check" label="AGREGAR {{titulo}}"></button>

</div>

<div *ngIf="listado==4">

  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="miVehiculo.marca">
    <label for="float-input">Marca</label>
  </span>
  <br>

  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="miVehiculo.modelo">
    <label for="float-input">Modelo</label>
  </span>
  <br>
  <br>

  <button pButton type="button" (click)="AgregarVehiculo()" class="ui-button-success" icon="fa-check" label="AGREGAR {{titulo}}"></button>


</div>