<p>
  mapa works!
</p>
<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map:
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->

<div class="container">
  <h1>Angular 2 + Google Maps Places Autocomplete</h1>
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #search [formControl]="searchControl">
  </div>
  <div>
    <button (click)="origen()">Origen</button>
    <br>
    <button (click)="destino()"> Destino</button>
    <br>
    <button type="button" (click)="calcular()">Calcular</button>
  </div>
  <br>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>

    <agm-direction *ngIf="dir" 
    [origin]="dir.origin" [destination]="dir.destination">
  </agm-direction>
  </agm-map>
</div>



