<p>
  encargado works!
</p>
<p-menubar [model]="items">
  <input type="text" pInputText placeholder="Search">
  <button pButton label="Logout" icon="fa-sign-out"></button>
</p-menubar>
<br>

<app-agregar-chofer *ngIf="componente==1"></app-agregar-chofer>
<app-agregar-cliente *ngIf="componente==2"></app-agregar-cliente>
<app-agregar-encargado *ngIf="componente==3"></app-agregar-encargado>
<app-agregar-vehiculo *ngIf="componente==4"></app-agregar-vehiculo>

<app-agregar-viaje *ngIf="componente==5"></app-agregar-viaje>